
<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <!-- Ajax data source array start-->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5 class="float-left">Data Quotation</h5>
            <a href="<?=base_url()?>Quotation/createQuotation"><button type="button" class="btn btn-secondary float-right" name="button">Tambah Quotation</button></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="datatables" id="quotation-table">
                <thead>
                  <tr>
                    <th>No Quotation</th>
                    <th>Nama Klien</th>
                    <th>Jenis Project</th>
                    <th>Nominal</th>
                    <th>Diskon</th>
                    <th>Cashback</th>
                    <th>Total</th>
                    <th>Tanggal Kirim</th>
                    <th>Status</th>
                    <!-- <th>Status</th> -->
                    <th style="width:10%;">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                 
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Ajax data source array end-->
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="" action="<?=base_url()?>Quotation/addAction" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Klien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="theme-form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label">No Quotation</label>
                  <input class="form-control" name="quotation_number" type="text" required>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label">Tanggal Kirim</label>
                  <input class="form-control" name="quotation_sent_date" type="text" value="<?=Date('Y-m-d')?>" readonly required>
                </div>
              </div> -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Nama Klien</label>
                  <!-- <input class="form-control" type="text" placeholder="Project name *"> -->
                  <select name="client_id" class="form-control" required>
                  <?php
                  foreach($clients as $client){
  
                  ?>
                  <option value="<?=$client->client_id?>"><?=$client->client_name?></option>

                  <?php } ?>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Tipe Project</label>
                  <select name="project_type" class="form-control" required>
                  <option value="Design">Design</option>
                  <option value="Produksi">Produksi</option>
                  </select>                            
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label">Nominal</label>
                  <input class="form-control digits autonumeric" type="text" name="quotation_nominal" required autocomplete="off">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label">Diskon</label>
                  <input class="form-control digits autonumeric" type="text" name="quotation_discount" autocomplete="off">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label">Cashback</label>
                  <input class="form-control digits autonumeric" type="text" name="quotation_cashback" autocomplete="off">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
          <button type="submit" id="btn-add" class="btn btn-secondary">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="" action="<?=base_url()?>Quotation/updateAction" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="theme-form">

            <div class="form-group">
              <label class="col-form-label">Nama Klien</label>
              <input class="form-control" name="quotation_id" id="quotation_id" type="hidden" required>
              <input class="form-control" name="quotation_name" id="quotation_name" type="text" required>
            </div>
            <div class="form-group">
              <label class="col-form-label">No Handphone</label>
              <input class="form-control" name="quotation_phone" id="quotation_phone" type="text" required>
            </div>
            <div class="form-group">
              <label class="col-form-label">Alamat</label>
              <textarea name="quotation_address" id="quotation_address" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label">Ketertarikan</label>
              <select name="quotation_interest" id="quotation_interest" class="form-control">
                <option value="Desain">Desain</option>
                <option value="Produksi">Produksi</option>
                <option value="Desain + Produksi">Desain + Produksi</option>
              </select>
            </div>
            <div class="form-group">
              <label class="col-form-label">Kelas</label>
              <select class="form-control" name="quotation_class" id="quotation_class" required>
                <option value="C">C</option>
                <option value="B">B</option>
                <option value="A">A</option>
                <option value="Super">Super</option>
              </select>
            </div>
            <!-- <div class="form-group">
              <label class="col-form-label">Status</label>
              <select class="form-control" name="quotation_status" id="quotation_status" required>
                <option value="Baru">Baru</option>
                <option value="Follow Up">Follow Up</option>
                <option value="Customer">Customer</option>
              </select>
            </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-secondary" id="btn-update">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="updateStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="" action="<?=base_url()?>Quotation/updateAction" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Status Quotation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="theme-form">

            <input class="form-control" name="quotation_id" id="quotation_id" type="hidden" required>

            <div class="form-group">
              <label class="col-form-label">Status</label>
              <select class="form-control" name="quotation_status" id="quotation_status" required>
                <option value="Baru">Baru</option>
                <option value="Follow Up">Follow Up</option>
                <option value="Customer">Customer</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-secondary" id="btn-update">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>

  $(document).ready(function(e){
    
    var base_url = "<?php echo base_url();?>"; // You can use full url here but I prefer like this
    $('#quotation-table').DataTable({
       "pageLength" : 10,
       "serverSide": true,
       "order": [[0, "asc" ]],
       "ajax":{
          url :  base_url+'Quotation/getAllQuotation',
          type : 'POST'
        },
    }); // End of DataTable


  }); // End Document Ready Function

  // function getQuotation(quotation_id){
  //   var quotation_id = quotation_id;
  //   $.ajax({
  //     type: "POST",
  //     url: "<?php echo site_url('Quotation/getQuotation');?>",
  //     data: "quotation_id="+quotation_id,
  //     success: function (response) {
  //       var row = JSON.parse(response);
  //       $('#quotation_id').val(row.quotation_id);
  //       $('#quotation_name').val(row.quotation_name);
  //       $('#quotation_phone').val(row.quotation_phone);
  //       $('#quotation_address').val(row.quotation_address);
  //       $('#quotation_interest').val(row.quotation_interest);
  //       $("select#quotation_class option[value='"+row.quotation_class+"']").prop("selected","selected");
  //       $("select#quotation_status option[value='"+row.quotation_status+"']").prop("selected","selected");

  //     }
  //   });
  // }

</script>
