
<div class="page-body">
    <div class="container-fluid">
      <div class="page-title">
        <div class="row">
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <!-- Ajax data source array start-->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6">
                  <h5>Edit Data Project</h5>
                </div>
                <div class="col-sm-6">
                  <div class="text-right">
                    <!-- <button type="button" class="btn btn-secondary float-right" name="button" data-toggle="modal" data-target="#addModal">Tambah Project</button> -->

                  </div>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-secondary float-right" name="button" data-toggle="modal" data-target="#addModal">Tambah KBM</button> -->
            </div>
            <div class="card-body">
                <form action="<?=base_url()?>Project/updateAction" method="post"  enctype="multipart/form-data">
                    <div class="form theme-form">

        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nama Project</label>
                                    <input class="form-control" type="hidden" name="project_detail_id" required value="<?=$project->project_detail_id?>">
                                    <input class="form-control" type="hidden" name="project_id" required value="<?=$project->project_id?>">
                                    <input class="form-control" type="text" name="project_name" required value="<?=$project->project_name?>">
                                </div>
                            </div>              
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nama Klien</label>
                                    <!-- <input class="form-control" type="text" placeholder="Project name *"> -->
                                    <select name="client_id" class="form-control" required>
                                    <?php
                                    foreach($clients as $client){
                    
                                    ?>
                                    <option value="<?=$client->client_id?>" <?php if($client->client_id == $project->client_id){echo "selected";}?>><?=$client->client_name?></option>
                
                                    <?php } ?>
                                    </select>
                                </div>
                            </div>                
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>PIC Project</label>
                                    <select name="user_id" class="form-control" required>
                                        <?php
                                        foreach($users as $user){
                        
                                        ?>
                                        <option value="<?=$user->user_id?>"  <?php if($client->user_id == $project->user_id){echo "selected";}?>><?=$user->user_fullname?></option>
                    
                                        <?php } ?>
                                    </select>                            
                                </div>
                            </div>                  
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Tipe Project</label>
                                    <select name="project_detail_type" class="form-control" required>
                                    <option value="Design" <?php if($project->project_detail_type == "Design"){echo "selected";}?>>Design</option>
                                    <option value="Produksi" <?php if($project->project_detail_type == "Produksi"){echo "selected";}?>>Produksi</option>
                                    </select>                            
                                </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Nominal Project</label>
                                    <input class="form-control digits autonumeric" type="text" name="project_detail_nominal" required autocomplete="off" value="<?=$project->project_detail_nominal?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Estimasi Profit</label>
                                    <input class="form-control digits autonumeric2"  type="text" name="profit_estimation" required autocomplete="off"  value="<?=$project->profit_estimation?>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Tanggal Masuk Project</label>
                                    <input class="datepicker-here form-control digits" type="text" data-language="en" name="project_date" required autocomplete="off"  value="<?=$project->project_date?>">
                                    <!-- <input class="form-control" type="text" name="project_name" placeholder="Nama Project*" required> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Tanggal Mulai Project</label>
                                    <input class="datepicker-here form-control digits" type="text" data-language="en" name="start_date" required autocomplete="off"  value="<?=$project->start_date?>">
                                    <!-- <input class="form-control" type="text" name="project_name" placeholder="Nama Project*" required> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Tanggal Deadline Project</label>
                                    <input class="datepicker-here form-control digits" type="text" data-language="en" name="deadline" required autocomplete="off"  value="<?=$project->deadline?>">
                                    <!-- <input class="form-control" type="text" name="project_name" placeholder="Nama Project*" required> -->
                                </div>
                            </div>
                        
                        </div> 

                        <!-- <div class="row">
                            <div class="col">
                            <div class="form-group">
                                <label>Brief & Requirement Project</label>
                                <textarea class="summernote2" name="brief">
                                    <?=$project->brief?>
                                    <p class="text-muted">
                                    </p>
                                </textarea>
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Attachment</label>
                                    <input type="file" class="form-control" name="files[]" multiple="">
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-previous" type="button">Previous</button>
                                    <button type="submit" class="btn btn-secondary" >Simpan</button>
                                </div>          
                            </div>
                        </div> -->
  
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-0 pull-right">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-secondary" id="btn-update">Simpan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <!-- Ajax data source array end-->
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
  <script>
    $(document).ready(function(){

    });

  </script>
