
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 project-list">
                <div class="card">
                  <div class="row">
                    <div class="col-sm-8">
                      <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                        <!-- <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab" aria-controls="top-home" aria-selected="true"><i data-feather="target"></i>All</a></li> -->
                        <li class="nav-item"><a class="nav-link active" id="progress-top-tab" style="cursor: pointer;"><i data-feather="info"></i>On Progress</a></li>
                        <li class="nav-item"><a class="nav-link" id="revision-top-tab" style="cursor: pointer;"><i data-feather="repeat"></i>Revision</a></li>
                        <li class="nav-item"><a class="nav-link" id="done-top-tab" style="cursor: pointer;"><i data-feather="check-square"></i>Done</a></li>
                        <li class="nav-item"><a class="nav-link" id="delivered-top-tab" style="cursor: pointer;"><i data-feather="send"></i>Delivered</a></li>
                        <li class="nav-item"><a class="nav-link" id="completed-top-tab" style="cursor: pointer;"><i data-feather="check-circle"></i>Complete</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <div class="text-right">
                        <div class="form-group mb-0 mr-0"></div><a class="btn btn-primary" href="<?=site_url()?>Project/create"> <i data-feather="plus-square"> </i>Create New Project</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="tab-content" id="top-tabContent">
                      <!-- <div class="row">
                        <div class="col-md-12">
                          <div class="float-right ml-3  text-center">
                            <div class="progress-bar-animated bg-infographic progress-bar-striped  float-left mr-3" role="progressbar" style="width: 50px; height:7px; margin-top:14px;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>    
                            <h6 class="mt-2 float-left">Infographic</h6>
                          </div>
                          <div class="float-right ml-3 mr-3 text-center">
                            <div class="progress-bar-animated bg-illustration progress-bar-striped  float-left mr-3" role="progressbar" style="width: 50px; height:7px; margin-top:14px;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>    
                            <h6 class="mt-2 float-left">Illustration</h6>
                          </div>  
                        </div>
                      </div> -->
                      <div class="tab-pane fade show active" id="top-progress" role="tabpanel" aria-labelledby="progress-top-tab">

                      </div>
                      <div class="text-center">
                        <p class="text-center text-info mt-3" id="load_data_message"></p>
                        <button class="btn btn-outline-primary" id="btnLoadMore">Load More</button>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        <script>
          $(document).ready(function(){

            
            var limit = 10;
                var start = 0;
                var action = 'inactive';
                var project_type = $( "#project_type").val();
                var project_status = 'On Progress';
                var keyword = $( "#keyword-form").val();


                function load_data(limit, start, keyword, project_status, project_type)
                {
                  $.ajax({
                    url:"<?php echo base_url(); ?>Project/fetchProject",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#load_data_message').html('<h7><i>No More Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').append(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  })
                }

                if(action == 'inactive')
                {
                  action = 'active';
                  load_data(limit, start, keyword, project_status, project_type);
                }

                $('#btnLoadMore').click(function() {
                  start = start + limit;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');
                  setTimeout(function(){
                    load_data(limit, start, keyword, project_status, project_type);
                  }, 500);

                });

                $( "#progress-top-tab").click(function() {
                  $('#progress-top-tab').addClass('active');
                  $('#revision-top-tab').removeClass('active');
                  $('#done-top-tab').removeClass('active');
                  $('#delivered-top-tab').removeClass('active');
                  $('#completed-top-tab').removeClass('active');
                  var project_status = "On Progress";
                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Project/fetchProject",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });

                $( "#revision-top-tab").click(function() {
                  $('#progress-top-tab').removeClass('active');
                  $('#revision-top-tab').addClass('active');
                  $('#done-top-tab').removeClass('active');
                  $('#delivered-top-tab').removeClass('active');
                  $('#completed-top-tab').removeClass('active');
                  var project_status = "In Revision";
                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Project/fetchProject",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });
                $( "#delivered-top-tab").click(function() {
                  $('#progress-top-tab').removeClass('active');
                  $('#revision-top-tab').removeClass('active');
                  $('#done-top-tab').removeClass('active');
                  $('#delivered-top-tab').addClass('active');
                  $('#completed-top-tab').removeClass('active');
                  var project_status = "Delivered";
                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Project/fetchProject",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });
                $( "#completed-top-tab").click(function() {
                  $('#progress-top-tab').removeClass('active');
                  $('#revision-top-tab').removeClass('active');
                  $('#done-top-tab').removeClass('active');
                  $('#delivered-top-tab').removeClass('active');
                  $('#completed-top-tab').addClass('active');
                  var project_status = "Completed";
                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Project/fetchProject",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });
                $( "#done-top-tab").click(function() {
                  $('#progress-top-tab').removeClass('active');
                  $('#revision-top-tab').removeClass('active');
                  $('#done-top-tab').addClass('active');
                  $('#delivered-top-tab').removeClass('active');
                  $('#completed-top-tab').removeClass('active');
                  var project_status = "Done";
                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Project/fetchProject",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });





            
            // $('[data-toggle="tooltip"]').tooltip()
            // var base_url = "<?php echo base_url();?>"; // You can use full url here but I prefer like this
            // var tableData =  $('#projectTable').DataTable({
            //       "pageLength": 25,
            //       "serverSide": true,
            //       "order": [[1, "desc"]],
            //       "bDestroy": true,
            //       "ajax": {
            //           url: base_url + 'Project/getProjectTable',
            //           type: 'POST'
            //       },
            //       responsive: true,
            //       // language: {
            //       //   paginate: {
            //       //     previous: '<i class="cs-chevron-left"></i>',
            //       //     next: '<i class="cs-chevron-right"></i>',
            //       //   },
            //       // },
            //   }); // End of DataTable

            // $( "#project_status").change(function() {
            //   var keyword = $( "#keyword-form").val();
            //   var project_type = $( "#project_type").val();
            //   var project_status = $(this).val();

            //   var base_url = "<?php echo base_url();?>"; // You can use full url here but I prefer like this
            //   var tableData =  $('#projectTable').DataTable({
            //         "pageLength": 25,
            //         "serverSide": true,
            //         "order": [[1, "desc"]],
            //         "bDestroy": true,
            //         "ajax": {
            //             url: base_url + 'Project/getProjectTable',
            //             type: 'POST',
            //             data:{project_status:project_status, project_type:project_type},

            //         },
            //         responsive: true,
               
            //     }); // End of DataTable
                
            // });
            // $( "#project_type").change(function() {
            //   var keyword = $( "#keyword-form").val();
            //   var project_type = $(this).val();
            //   var project_status = $( "#project_status").val();

            //   var base_url = "<?php echo base_url();?>"; // You can use full url here but I prefer like this
            //   var tableData =  $('#projectTable').DataTable({
            //         "pageLength": 25,
            //         "serverSide": true,
            //         "order": [[1, "desc"]],
            //         "bDestroy": true,
            //         "ajax": {
            //             url: base_url + 'Project/getProjectTable',
            //             type: 'POST',
            //             data:{project_status:project_status, project_type:project_type},

            //         },
            //         responsive: true,
               
            //     }); // End of DataTable
                
            // });


            // var limit = 5;
            // var start = 0;
            // var action = 'inactive';
            // var project_type = $( "#project_type").val();
            // var project_status = $( "#project_status").val();
            // var keyword = $( "#keyword-form").val();
            // var client_id = $( "#client_id").val();
            // function lazzy_loader(limit)
            // {
            //   var output = '';
            //   for(var count=0; count<limit; count++)
            //   {
            //     output += '<div class="post_data">';
            //     output += '<p><span class="content-placeholder" style="width:100%; height: 30px;">&nbsp;</span></p>';
            //     output += '<p><span class="content-placeholder" style="width:100%; height: 100px;">&nbsp;</span></p>';
            //     output += '</div>';
            //   }
            //   // $('#top-home').html(output);
            // }

            // lazzy_loader(limit);

            // function load_data(limit, start, keyword, project_status, project_type, client_id)
            // {
            //   $.ajax({
            //     url:"<?php echo base_url(); ?>Project/fetchProjectFilter",
            //     method:"POST",
            //     data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type, client_id:client_id},
            //     cache: false,
            //     success:function(data)
            //     {
            //       if(data == '')
            //       {
            //         $('#load_data_message').html('<h7><i>No More Result Found</i></h7>');
            //         action = 'active';
            //       }
            //       else
            //       {
            //         $('#top-all').append(data);
            //         $('#load_data_message').html("");
            //         action = 'inactive';
            //       }
            //     }
            //   })
            // }

            // if(action == 'inactive')
            // {
            //   action = 'active';
            //   load_data(limit, start, keyword, project_status, project_type, client_id);
            // }



            // $( "#keyword-form").keyup(function() {
            //   var keyword = $(this).val();
            //   var project_type = $( "#project_type").val();
            //   var project_status = $( "#project_status").val();
            //   var client_id = $( "#client_id").val();
            //   start = 0;
            //   console.log(start);
            //   console.log('limit'+limit);
            //   $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

            //   setTimeout(
            //   function() 
            //   {
            //     $.ajax({
            //     url:"<?php echo base_url(); ?>Project/fetchProjectFilter",
            //     method:"POST",
            //     data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type, client_id:client_id},
            //     cache: false,
            //     success:function(data)
            //     {
            //       if(data == '')
            //       {
            //         $('#top-all').html(data);
            //         $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
            //         action = 'active';
            //       }
            //       else
            //       {
            //         $('#top-all').html(data);
            //         $('#load_data_message').html("");
            //         action = 'inactive';
            //       }
            //     }
            //   });
            //   }, 500);
            // });

            // $( "#project_status").change(function() {
            //   var keyword = $( "#keyword-form").val();
            //   var project_type = $( "#project_type").val();
            //   var project_status = $(this).val();
            //   var client_id = $( "#client_id").val();

            //   start = 0;
            //   $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

            //   setTimeout(
            //   function() 
            //   {
            //     $.ajax({
            //     url:"<?php echo base_url(); ?>Project/fetchProjectFilter",
            //     method:"POST",
            //     data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type,client_id:client_id},
            //     cache: false,
            //     success:function(data)
            //     {
            //       if(data == '')
            //       {
            //         $('#top-all').html(data);
            //         $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
            //         action = 'active';
            //       }
            //       else
            //       {
            //         $('#top-all').html(data);
            //         $('#load_data_message').html("");
            //         action = 'inactive';
            //       }
            //     }
            //   });
            //   }, 500);
            // });

            // $( "#project_type").change(function() {
            //   var project_status = $( "#project_status").val();
            //   var keyword = $( "#keyword-form").val();
            //   var project_type = $(this).val();
            //   var client_id = $( "#client_id").val();
            //   start = 0;
            //   console.log(start);
            //   console.log('limit'+limit);
            //   $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

            //   setTimeout(
            //   function() 
            //   {
            //     $.ajax({
            //     url:"<?php echo base_url(); ?>Project/fetchProjectFilter",
            //     method:"POST",
            //     data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type,client_id:client_id},
            //     cache: false,
            //     success:function(data)
            //     {
            //       if(data == '')
            //       {
            //         $('#top-all').html(data);
            //         $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
            //         action = 'active';
            //       }
            //       else
            //       {
            //         $('#top-all').html(data);
            //         $('#load_data_message').html("");
            //         action = 'inactive';
            //       }
            //     }
            //   });
            //   }, 500);
            // });

            // $( "#client_id").change(function() {
            //   var project_status = $( "#project_status").val();
            //   var project_type = $( "#project_type").val();
            //   var keyword = $( "#keyword-form").val();
            //   var client_id = $(this).val();
            //   start = 0;
            //   console.log(start);
            //   console.log('limit'+limit);
            //   $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

            //   setTimeout(
            //   function() 
            //   {
            //     $.ajax({
            //     url:"<?php echo base_url(); ?>Project/fetchProjectFilter",
            //     method:"POST",
            //     data:{limit:limit, start:start, keyword:keyword, project_status:project_status, project_type:project_type,client_id:client_id},
            //     cache: false,
            //     success:function(data)
            //     {
            //       if(data == '')
            //       {
            //         $('#top-all').html(data);
            //         $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
            //         action = 'active';
            //       }
            //       else
            //       {
            //         $('#top-all').html(data);
            //         $('#load_data_message').html("");
            //         action = 'inactive';
            //       }
            //     }
            //   });
            //   }, 500);
            // });


            // $(window).scroll(function(){
            //   if($(window).scrollTop() + $(window).height() > $("#top-all").height() && action == 'inactive')
            //   {
            //     // lazzy_loader(limit);
            //     // keyword = $('#keyword-form').val();
            //     var project_type = $( "#project_type").val();
            //     var project_status = $( "#project_status").val();
            //     var keyword = $( "#keyword-form").val();
            //     console.log(keyword);
            //     action = 'active';
            //     start = start + limit;
            //     $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');
            //     setTimeout(function(){
            //       load_data(limit, start, keyword, project_status, project_type, client_id);
            //     }, 500);
            //   }
            // });


          });


        </script>
